
/**
 *
 * Styles for Error Messages theme for reveal.js.
 *
**/
 
 
/*********************************************
 * LAYOUT
 *********************************************/
 
 body {
    background-color: #647EFE;
    background-image: url(../img/starburst.png);
    background-position: 50% 50%;
    background-repeat: repeat;
}
 
 .frame {
     background-color: #FFFFFF;
     border: 10px solid #3D7B80;
     border-radius: 10px;
     text-align: center;
     width: 680px;
     height: 680px;
     margin-left: auto;
     margin-right: auto;
     padding: 20px;
}

 
/*********************************************
 * TYPOGRAPHY
 *********************************************/
 
 h1 {
     font-family: 'Oswald';
     font-weight: 700;
     font-size: 90px;
     padding: 0px; 
     margin: 20px 0px 0px 0px;
     line-height: 1;
 }
 
 h2 {
    font-family: 'Oswald';
    padding: 0px; 
    margin: 0px;
    text-transform: uppercase;
    font-size: 30px;
 }
 
 h3 {
    font-size: 30px; 
}
 
 p {
    font-size: 18px;
    font-family: arial;
    margin: 50px;
}

	
/*********************************************
 * HAIKU STYLES
 *********************************************/
 
#haiku h3 {
    text-transform: uppercase;
    font-family: 'Gilda';
}

.haiku {
    border: 1px solid #C2CBCE;
    height: 300px;
    width: 550px;
    font-family: 'Gilda';
    box-shadow: 5px 5px 5px #888;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F2C4;
    border-radius: 10px;
}

#haiku p {
    font-size: 30px;
    font-family: 'Gilda';
    margin: 30px;

}


